*.class
# Carpetas de compilación de editores
bin/
out/
.build/
.idea/
*.iml
.vscode/
.DS_Store
# Python bytecode
__pycache__/
*.pyc
*.pyo
capturas/
2-Cluster-Testeo-Raft/capturas/
cluster-test-*.log
.venv/